[defaults]
inventory = inventory.ini
host_key_checking = True
result_format = yaml
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/cache
fact_caching_timeout = 7200
retry_files_enabled = False
